{
    "tabWidth": 4,
    "printWidth": 120,
    "useTabs": false,
    "bracketSameLine": true,
    "bracketSpacing": true,
    "endOfLine": "auto",
    "overrides": [
        {
            "files": ["MaaAssistantArknights/api/gui/*.json"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
