name: deploy

on:
  push:
    branches:
      - main
    paths:
      - nginx.conf
      - 'MaaAssistantArknights/**'
      - .github/workflows/deploy.yml
  workflow_dispatch:

jobs:
  sync-repo:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4

      - name: Get Version
        id: version_name
        run: |
          version=$(date --utc +%Y%m%d%H%M%S)
          echo "version=$version" | tee -a "$GITHUB_OUTPUT"

      - name: Zip MirrorChyan
        id: zip
        run: |
          mkdir MirrorChyan
          cd MaaAssistantArknights/api
          echo ${{ steps.version_name.outputs.version }} | jq -c '{timestamp:.}' | tee lastUpdateTime.json
          zip -r ../../MirrorChyan/MaaResourceCache.zip gui resource lastUpdateTime.json

      - uses: actions/upload-artifact@v4
        with:
          name: MirrorChyan-MaaResourceCache
          path: MirrorChyan

      - name: Upload to MirrorChyan
        run: |
          curl --location --request POST 'https://mirrorc.top/api/resources/MaaResourceCache/versions' \
            --header 'Authorization:${{ secrets.MirrorChyanUploadToken }}' \
            --form 'name="${{ steps.version_name.outputs.version }}"' \
            --form 'file=@"MirrorChyan/MaaResourceCache.zip"'
      
      - name: Setup ssh key
        env:
          SSH_PRIVATE_KEY: ${{ secrets.OTA_SERVER_SSH_KEY }}
        run: |
          mkdir -p ~/.ssh
          echo "$SSH_PRIVATE_KEY" >> ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -t rsa -H ${{ secrets.OTA_SERVER_SSH_HOST }} >> ~/.ssh/known_hosts

      - name: Sync repository
        run: |
          ssh ${{ secrets.OTA_SERVER_SSH_USER }}@${{ secrets.OTA_SERVER_SSH_HOST }} \
            "
              set -e
              mkdir -p ~/MaaRelease
              cd ~/MaaRelease
              git init
              git fetch --force --no-tags --prune --update-head-ok --progress  \
                'https://github.com/${{ github.repository }}' \
                '+HEAD:refs/remotes/origin/HEAD'
              git checkout --force --progress refs/remotes/origin/HEAD

              echo Generating lastUpdateTime.json
              mkdir -p MaaAssistantArknights/api/
              echo ${{ steps.version_name.outputs.version }} | jq -c '{timestamp:.}' | tee MaaAssistantArknights/api/lastUpdateTime.json
            "
