name: update-resource

on:
  push:
    paths:
      - .github/workflows/update_resource.yml
  workflow_dispatch:

jobs:
  CC_n8n:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          show-progress: false
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          check-latest: true
      - name: Fire the webhook of MAA_S3
        if: github.repository == 'MaaAssistantArknights/MaaRelease'
        run: |
          node scripts/AnnAngela/webhookForCC_n8n.js
        env:
          WEBHOOK_URL: https://workflow.maa-org.net/webhook/MaaResource
          WEBHOOK_SECRET:  ${{ format('{0} {1}', 'MaaRelease', secrets.CC_N8N_CREDENTIAL) }}

  R2:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout MaaRelease
        uses: actions/checkout@v4
        with:
          show-progress: false
      - name: Setup workspace
        run: |
          mkdir -p ~/MaaRelease
          mv * ~/MaaRelease/
          sh ~/MaaRelease/scripts/update_resource/updateResource.sh
      - name: Upload to R2
        if: github.repository == 'MaaAssistantArknights/MaaRelease'
        uses: ./.github/s3Sync
        continue-on-error: true
        with:
          args: --acl public-read --follow-symlinks
          AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: us-east-1
          AWS_S3_ENDPOINT: ${{ secrets.AWS_S3_ENDPOINT }}
          SOURCE_DIR: ~/MaaAssistantArknights/resource
          DEST_DIR: MaaAssistantArknights/MaaAssistantArknights/resource

  ota:
    runs-on: ubuntu-latest
    needs:
      - CC_n8n
      - R2

    steps:
      - name: Setup ssh key
        env:
          SSH_PRIVATE_KEY: ${{ secrets.OTA_SERVER_SSH_KEY }}
        run: |
          mkdir -p ~/.ssh
          echo "$SSH_PRIVATE_KEY" >> ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -t rsa -H ${{ secrets.OTA_SERVER_SSH_HOST }} >> ~/.ssh/known_hosts

      - name: Update Resource
        run: |
          ssh ${{ secrets.OTA_SERVER_SSH_USER }}@${{ secrets.OTA_SERVER_SSH_HOST }} \
            "
              set -e
              sh ~/MaaRelease/scripts/update_resource/updateResource.sh
            "
